
// ----------------------------------
//   Components
// ----------------------------------

$enable-shadows: true;
$enable-reduced-motion: false;

// ----------------------------------
//   Colors
// ----------------------------------

$body-bg:		#f5f5f8;

$gray-100: 		#f1f3f5;
$gray-200: 		#e9ecef;
$gray-300: 		#dee2e6;
$gray-400: 		#ced4da;
$gray-500: 		#adb5bd;
$gray-600: 		#868e96;
$gray-700: 		#495057;
$gray-800: 		#343a40;
$gray-900: 		#212529;

$primary:		#03a9f4;
$blue:			#2680d9;
$green: 		#5cb85c;
$yellow:  		#f0ad4e;
$red:     		#d9534f;

// ----------------------------------
//   Typography
// ----------------------------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

$font-size-root: 15px;

$navbar-brand-font-size: 1.4rem;

// ----------------------------------
//   Links
// ----------------------------------

$link-decoration: none;

// ----------------------------------
//   Tables
// ----------------------------------

$table-cell-padding-y:        .3rem;
$table-cell-padding-x:        .3rem;
$table-cell-padding-y-sm:     .23rem;
$table-cell-padding-x-sm:     .23rem;

$table-striped-bg: $gray-100;
$table-hover-bg: $gray-200;

// ----------------------------------
//   Form
// ----------------------------------
$input-bg: white;

$form-label-font-weight: bold;
