
// ----------------------------------
//   Paths
// ----------------------------------
$base-path:		'..';
$image-path:	#{$base-path}/img;

// ----------------------------------
//   Colors
// ----------------------------------

// TODO: Remove
$gray-lightest: $gray-100;
$gray-light: $gray-300;
$gray-dark: $gray-700;
$gray-darker: $gray-900;

// Text
$text-color:				#333;
$text-secondary-color:		#666;
$text-light-color:			#f1f1f1;

// Layout
$foreground-color:   		$white;
$hover-color:               $gray-lightest;
$border-color: 				$gray-light;

$google-color:				#db4437;
$github-color:				#4183c4;
$gitlab-color:              #548;
$linkedin-color:            #0077B5;

// ----------------------------------
//   Typography
// ----------------------------------

$font-size-navigation:	  $navbar-brand-font-size;
$font-size-large:         20px;
$font-size-small:         14px;

// ----------------------------------
//   Layout
// ----------------------------------

$header-text-shadow:					1px 3px 4px rgba(0, 0, 0, 0.45);

// navigation
$navbar-height:                         60px;
$navbar-link-vertical-spacing:          8px;
$navbar-link-underline-height:          2px;
$navbar-link-spacing:                   20px;

$navbar-background:                     rgba(29, 126, 209, 0.5);
$navbar-link-text-shadow: 				0px 2px 1px rgba(0, 0, 0, 0.3);
$navbar-link-color:             		white;
$navbar-link-hover-color:       		lighten($navbar-link-color, 10%);
$navbar-link-hover-underline:   		$navbar-link-color;

$navbar-link-active-color:      		$navbar-link-color;
$navbar-link-active-underline:  		$navbar-link-color;

$navbar-brand-color:            		$primary;
$navbar-brand-hover-color:      		darken($primary, 15%);

$nav-link-hover-bg:         none;

// User menu
$usermenu-button-bg:                    $navbar-background;
$usermenu-button-hover-bg:              darken($usermenu-button-bg, 8%);

// Footer
$footer-height:             80px;
$footer-spacing:			1rem;
$footer-border-color:       $border-color;
$footer-text-color:			$text-secondary-color;
$footer-link-color:			$footer-text-color;
$footer-link-hover-color:	darken($footer-link-color, 10%);

// ----------------------------------
//   Buttons
// ----------------------------------
$button-bg-color:		    #f1f1f1;
$button-hover-color:		darken($button-bg-color, 10%);
$button-border:				darken($button-bg-color, 10%);
$button-shadow:				0 2px 2px 0 rgba(0, 0, 0, 0.12),
                            0 1px 5px 0 rgba(0, 0, 0, 0.1);

// Variations

$button-primary-color:         white;
$button-primary-bg:            #5fbc49;

$button-brand-color:           white;
$button-brand-bg:              $primary;

// State
$button-info-color:            white;
$button-info-bg:               $info;
$button-success-color:         white;
$button-success-bg:            $success;
$button-warning-color:         white;
$button-warning-bg:            $warning;
$button-danger-color:          white;
$button-danger-bg:             $danger;

// Company.

$button-google-color:          white;
$button-google-bg:             $google-color;
$button-google-border:         darken($button-google-bg, 5%);

$button-github-color:          white;
$button-github-bg:             $github-color;
$button-github-border:         darken($button-github-bg, 5%);

$button-gitlab-color:          white;
$button-gitlab-bg:             $gitlab-color;

$button-linkedin-color:        white;
$button-linkedin-bg:           $linkedin-color;

// ----------------------------------
//   List group
// ----------------------------------

$list-group-item-color:             $text-color;
$list-group-item-background:        transparent;
$list-group-item-border-color:      $gray-light;

$list-group-hover-background:       $gray-lightest;
$list-group-item-active-background: $primary;

// ----------------------------------
//   List group
// ----------------------------------

$card-border-color: $gray-light;
$card-header-background: $gray-lightest;

// ----------------------------------
//   Shadows
// ----------------------------------

$block-shadow:                  0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$block-shadow-2:                0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12);
$block-shadow-3:                0 3px 3px 0 rgba(0, 0, 0, 0.16);

// ----------------------------------
//   Dropdown
// ----------------------------------

$dropdown-shadow:           0 2px 4px rgba(0,0,0,0.1);

// ----------------------------------
//   Blankslate
// ----------------------------------

$blankslate-bg:         $gray-lightest;
$blankslate-color:      $text-secondary-color;
$blankslate-border:     $border-color;
$blankslate-spacing:    25px 10px;
$blankslate-spacing-sm: 15px 5px;

// ----------------------------------
//   Spacer
// ----------------------------------

$spacer-color: $gray-light;
$spacer-margin: 1em 0;

// ----------------------------------
//   Pagination
// ----------------------------------

$pagination-color:          $text-color;
$pagination-border:         $border-color;
$pagination-hover:          $hover-color;

$pagination-active-color:   $white;
$pagination-active-bg:      $primary;
$pagination-active-border:  darken($primary, 5%);

// ----------------------------------
//   Section
// ----------------------------------

$section-bg:        $foreground-color;
$section-border:    rgb(200, 200, 200);
$section-padding:   20px;

// ----------------------------------
//   Callback list
// ----------------------------------

$callback-list-hover-color:         $gray-lightest;
$callback-list-info-color:          $text-secondary-color;

$callback-list-border-size:         1px;
$callback-list-border-color:        $gray-light;
$callback-list-border-radius:       3px;

$callback-list-name-text-size:      24px;
$callback-list-name-color:          $text-color;
$callback-list-name-hover-color:    $link-color;

$callback-list-arrow-color:         $callback-list-border-color;

// ----------------------------------
//   Request list
// ----------------------------------

$request-item-secondary-color:      $text-secondary-color;
$request-detail-background:         lighten($primary, 45%);
