

// ----------------------------------
//  Base style.
// ----------------------------------


.blankslate {
    border-radius: 4px;
    @include box-shadow(inset 0 0 4px rgba(0,0,0, .1));
    border: solid 1px $blankslate-border;

    color: $blankslate-color;
    background-color: $blankslate-bg;
    padding: $blankslate-spacing;

    h3, p {
        text-align: center;
    }

    :last-child {
        margin-bottom: 0;
    }
}


// ----------------------------------
//  Variants
// ----------------------------------


//    Sizes
// ----------------------------------
.blankslate-sm {
    padding: $blankslate-spacing-sm;
}
