

// ----------------------------------
//  Base style.
// ----------------------------------


.card {
    border: 1px solid $card-border-color;

    &-header,
    &-body {
        display: block;
        padding: .5em 1em;
    }

    //    Contextual colors
    // ----------------------------------

    &-header-default {
        background-color: $card-header-background;
    }

    // Add border between header and body if they follow eachother.
    &-header + &-body {
        border-top: 1px solid $card-border-color;
    }
}

//    Header link
// ----------------------------------

a.card-header,
.card-header-link {
    cursor: pointer;
    color: $list-group-item-color;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &:hover {
        background: $card-header-background;
    }
}


// ----------------------------------
//  Layouts
// ----------------------------------


//    Accordion
// ----------------------------------

.card-accordion {

    .card {

        &-header {
            border-bottom: 0;
        }

        &-body {
            border-top: 1px solid $card-border-color;
        }
    }

    .card:not(:first-of-type) {
        border-top: 0;
    }
}
