
.list-group {

    padding-left: 0;    // for <ul>, reset left padding.
    margin-bottom: 0;   // for <ul>, reset bottom margin.

    border: 1px solid $list-group-item-border-color;

    &-item {

        display: block;
        padding: .5em 1em;

        color: $list-group-item-color;
        background-color: $list-group-item-background;

        // Set buttom border for all but the last child.
        &:not(:last-child) {
            border-bottom: 1px solid $list-group-item-border-color;
        }

        &-active {
            background-color: $list-group-item-active-background;
        }
    }
}

//    Links
// ----------------------------------

.list-group-item-link,
a.list-group-item {

    color: $list-group-item-color;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &:hover,
    &:focus {
        background: $list-group-hover-background;
    }
}
