
.pagination {
	@extend .center-block;
    margin-top: 1em;
    margin-bottom: 1em;

    > li {
        display: inline-block;

        .middle, a {
            padding: .4em .8em;
            margin: 0 .4em;
        }

        a {
            @extend .button;
            display: block;
            border: solid 1px $pagination-border;
            color: $pagination-color;

            &:hover {
                color: $pagination-color;
                background-color: $pagination-hover;
            }
        }

        &.active a {
            color: $pagination-active-color;
            background: $pagination-active-bg;
            border-color: $pagination-active-border;
        }
    }
}
