
// ---------------------------
//  Section
// ---------------------------

.section {
    position: relative;
    background-color: $section-bg;
    padding: $section-padding;
    margin-bottom: 60px;
    border-radius: 2px;
    @include box-shadow($block-shadow-3);

    &-header {
        text-align: center;
        margin-bottom: 15px;

        > h1 {
            display: inline-block;
            border-bottom: 2px solid $border-color;
            padding: 20px 80px;
        }
    }
}
