
.about {
    @extend .row;

    &-main {
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			@include make-col(8);
		}
    }

    &-reference {
		@include make-col-ready();
		@include media-breakpoint-up(sm) {
			@include make-col(4);
		}
    }
}
