
.backend {
    display: flex;
    @extend .section;
    padding: 0;

    &-sidemenu {
        @extend .list-group;
        width: 15%;
        background-color: darken($section-bg, 4%);
        border: 1px solid darken($section-bg, 8%);
        > li {
            list-style: none;

            a {
                display: block;
                color: $text-secondary-color;
                padding: .8em 1.6em;

                &:hover {
                    background: darken($section-bg, 8%);
                    color: $text-color;
                    text-decoration: none;
                }
            }
        }
    }

    &-content {
        width: 85%;
        padding: $section-padding;
    }
}
