
.login-container {
    @extend .center-block;
    width: 400px;

    h3 {
        width: 100%;
        text-align: center;
    }

    .oauth > a {

        font-size: $font-size-large;
        width: 100%;
        margin-bottom: 4px;
        text-align: center;

        .icon {
            @include icon-vcenter();
            font-size: 24px;
            margin-right: .2em;
        }
    }
}
