
.footer {
    @extend .container;
    display: flex;
    align-items: center;
	column-gap: $footer-spacing;
    min-height: $footer-height;

    a {
        color: $footer-link-color;
        font-weight: 700;
        &:hover,
        &:active {
            color: $footer-link-hover-color;
        }
    }

	&-left {
		margin-left: $footer-spacing;
	}

	&-right {
        display: flex;
		justify-content: right;
		margin-right: $footer-spacing;
    }

	&-left,
    &-right {
		flex: 1;
    }

    // Top button
    &-button-top {
        @extend .button;
        @extend .button-round;
        @include button-variant($footer-link-color, white, white);

        font-size: 1.5em;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
    }
}
