
.masthead {
    @extend .container;
    display: flex;
	flex-direction: column;
    text-align: center;
	align-items: center;
    padding-top: 2em;
    padding-bottom: 4em;

	.logo {
		background: url(#{$image-path}/logo.png) no-repeat;
		height: 220px;
		width: 200px;
	}

    h1, p {
        color: $text-light-color;
        text-shadow: $header-text-shadow;
    }

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 22px;
    }

    .masthead-get-started-button {
        margin-top: 2em;
        @include button-outline-variant(black, white);
    }
}
