

// ----------------------------------
//  Head section
// ----------------------------------


.head-section {
    background-color: $primary;
    background-image: url(#{$image-path}/header-pattern.jpg);
    margin-bottom: 60px;

    .top-section {
        background-color: $navbar-background;
    }
}


// ----------------------------------
//  Content section
// ----------------------------------


.content-section {
    @extend .container;
	flex: 1 0 auto;
}


// ----------------------------------
//  Footer section
// ----------------------------------


.footer-section {
    width: 100%;
    color: $footer-text-color;
    border-top: 1px solid #bcbcbc;
    background-color: $footer-border-color;
    background-image: url(#{$image-path}/footer-pattern.jpg);
}
