
// Section header (part of .section)

.hdr-center {
    display: inline-block;
    padding: 20px 80px;
    margin: 30px auto;
    border-bottom: 2px solid $border-color;
}

.text-github { color: $github-color; }
.text-gitlab { color: $gitlab-color; }
.text-google { color: $google-color; }
.text-linkedin { color: $linkedin-color; }

a:hover {
	text-decoration: underline;
}

.code {
	background: $gray-100;
	border: solid $gray-300 1px;
	border-radius: $border-radius;
	padding: .6em;
}
